* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #66B2FF, #FFFFFF);
    // font-family: Arial, sans-serif;
    // color: #333333;
}

.main {
    .top {
        padding: 20px 0px;
        margin-bottom: 20px;


        img {
            width: 10%;
            display: block;
            margin: auto;
        }
    }

    .cont {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        padding: 10px 0px;

        .body {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -20px;
            width: 40%;
            padding: 10px;

            form {
                padding: 20px 0px;
                background-color: rgb(123, 45, 240);
                width: 100%;
                height: 50vh;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                input {
                    padding: 5px;
                    width: 500px;
                    outline: none;
                    border: none;
                    border-radius: 3px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    font-size: 16px;
                }

                button {
                    padding: 6px 8px;
                    font-size: 16px;
                    background-color: white;
                    color: rgb(97, 8, 231);
                    font-weight: bold;
                    border: none;
                    outline: none;
                    margin-top: 10px;
                    border-radius: 2px;
                }
            }
        }

        // .table {
        //     margin-top: -20px;
        //     width: 50%;
        //     padding: 10px;

        //     table {
        //         font-family: arial, sans-serif;
        //         border-collapse: collapse;
        //         width: 100%;

        //         .table-header {
        //             text-align: center;
        //             font-size: x-large;
        //         }
        //         .name{
        //             width: 200px;
        //             font-size: 14px;
        //         }

        //         td,
        //         th {
        //             border: 3px solid #dddddd;
        //             text-align: left;
        //             padding: 10px 5px;
        //             font-size: 18px;
        //         }

        //         tr:nth-child(even) {
        //             background: linear-gradient(to bottom, #66B2FF, #FFFFFF);
        //         }
        //     }
        // }
    }
}